# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Memory captures
sysinfo.txt
*.stackdump

# Asset meta data
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity Package Manager
/[Pp]ackages/packages-lock.json

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Backup folders
*_BackUpThisFolder_ButDontShipItWithYourGame/
*_BurstDebugInformation_DoNotShip/

# IDE
.idea/
.vs/
.vscode/

# macOS
.DS_Store
*.swp
*~.nib
